body,html{
     margin: 0;
     padding: 0 !important;
     background-color: #D1FFE4 !important;
}

.deskripsi {
     white-space: nowrap; 
     overflow: hidden; 
     text-overflow:ellipsis 
}

.list-buku{
     margin-right:50px ;
     padding: 0 !important;
     
}

.list-buku h6{
     margin: 0 !important;
}

.list-buku button{
     margin-right:5px ;
}
